<h1> We are Really Sorry For Any Inconvenience Caused </h1>
<h2>Contact Here For Customer Support</h2>
<ul>
    <li>Contact No: 7696403470</li>
    <li>Email : Website@gmail.com</li>
</ul>
<footer><p>Support will be provided within 24 hours</p></footer>